@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-container-info {
  width: 50%;
  height: 100vh;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.main-container-result {
  width: 50%;
  height: 100vh;
  background-color: #1976d2;
}

.container-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logo {
  margin-top: 50px;
  display: flex;
  margin-bottom: 60px;
  font-weight: bold;
}

.logo p {
  margin-left: 20px;
}

.logo img {
  margin-top: -5px;
}

.login-info .login {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}
.login-info .login-instruction {
  font-size: 16px;
  color: #bdbdbd;
  margin-bottom: 18px;
}

.form-container .form-input label {
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 500;
}

.form-container .form-input input {
  width: 100%;
  height: 40px;
  margin: 8px 0;

  padding: 8px;
  border: 1px solid rgb(201, 193, 193);
  border-radius: 4px;
}

.form-input::-webkit-input-placeholder {
}

input::placeholder {
  color: #bdbdbd;
}

.check-box-button {
  display: flex;
  flex-direction: column;
  color: #bdbdbd;
}
.check-box {
  margin: 20px 0px 20px 0px;
}

.check-box-button button {
  height: 40px;
  border-radius: 4px;
  border: 1px;
  font-weight: bold;

  color: #ffff;
  background-color: #64b5f6;
  margin-bottom: 20px;
}

.last-info {
  text-align: center;
}
.last-info:last-child {
  color: #1976d2;
  font-weight: bold;
}

.info-account {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-right: 4px;
  color: #9e9e9e;
}
.info-account span {
  color: #1976d2;
}
